body {
    height: 100%;
    font-family: 'Quicksand', sans-serif;
    margin: 0;
}

.navbar-static-top {
    margin-bottom: 19px;
}

.navbar-default .navbar-nav>li>a {
    cursor: pointer;
}

textarea {
    resize:none
}

.main-title {
    text-align: center;
}

.navbar-brand {
    color: grey;
}

section{
    min-height: 600px;
}

hr {
    font-weight: 10px;
}

.to-do-list .to-do-list-date-added {
    font-size: 12px;
    padding: 20px 10px;
}

.to-do-list .to-do-list-description {
    padding: 10px 25px;
    z-index: 15;
    background: #EAF6F6 ;
    height: 100px;
    text-align: justify;
    overflow: auto;
}

footer h4 {
    position : bottom;
    text-align: center;
    color: black;
}

#forum h2 {
    text-align: center;
}

.flex-item{
    padding: 0 15px;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 25%;
}