<nav class="navbar navbar-default navbar-static-top" style="background-color: #EAF6F6;">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="" style="color:gold; font-weight:bold">Forum</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav nav-right pull-right">
          <li><a href="/company/profile/" style="color:gold; font-weight:bold">Profile</a></li>
          <li><a href="" onclick="" style="color:gold; font-weight:bold">Logout</a></li>
        </ul>
      </div>
    </div>
</nav>
