{% extends "fitur1B/layout/base.html" %}
{% block content %}
<link href='https://fonts.googleapis.com/css?family=Kurale' rel='stylesheet'>
<style>

	#intro-txt {
		text-align: center;
		font-family: 'Kurale';
	}
	img {
		border-radius: 25px;
	}
	.lists {
		position: relative;
		text-align: center;
		color: white;
	}
	.tombol{
		text-align: center;
		display: flex;
		align-items: center;
		justify-content: center;
		
	}
	.button {
		background-color: #1a53ff;
		border: none;
		color: white;
		padding: 6px 26px;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		font-size: 12px;
		margin: 4px 2px;
		cursor: pointer;
		-webkit-transition-duration: 0.4s;
		transition-duration: 0.4s;
	}
</style>

<script type="text/javascript" src="//platform.linkedin.com/in.js">
	api_key: 81azw3ib6dwqzo
	onLoad: onLinkedInLoad
	authorize: true
</script>
<div class="container">
	<h1 class="hint" id="intro-txt"><strong>Welcome to ABCom, please login!</strong></h1>	
</div>

<hr>
<div class='col-md-9' >
    <section id="data-dashboard">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h2 class='panel-title'> Forum </h2>
            </div>
            <div class="panel-body">
                {% if forum %}
                    {% for i in forum %}
                    {% with forloop.counter as counter1 %}
                        <div class='row'>
                            <div class='col-md-1'>
                                 {{ i.nomor }} .
                            </div>
                            <img src="{{ gambar }}" style='height:100px' class='col-md-2 img-responsive '/>
                            <div class='col-md-9'>
                                <div class='row'>
                                    <div class='col-md-9'>
                                        <h3  style='margin-top:0px'>{{ i.pengguna.company_name }}</h3>
                                        <p id='{{ counter1 }}'>{{ i.isi }}</p>
                                    </div>
                                    <button class='btn btn-default col-md-2' id='tombolBalas{{ forloop.counter }}' onclick="tambahKomentar( {{ i.nomor }} )">Balas</button>
                                    <button class='btn btn-danger col-md-2' id='tombolBatal{{ forloop.counter }}' style='display:none' onclick="batalKomentar( {{ forloop.counter }} )">Batal</button>
                                </div>
                            </div>
                        </div>
                        <hr/>

                        {% if komentar %}
                            {% for j in komentar %}
                                {% if j.forum.nomor == i.nomor %}
                                    <div class='row'>
                                        <div class='col-md-2'>

                                        </div>
                                        <img src="{{ gambar }}" style='height:100px' class='col-md-2 img-responsive '/>
                                        <div class='col-md-8'>
                                            <div class='row'>
                                                <div class='col-md-9'>
                                                    <h3  style='margin-top:0px'>{{ j.nama }}</h3>
                                                    <p id='{{ forloop.counter }}'>{{ j.isi }}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <hr/>
                                {% endif %}
                            {% endfor %}
                        {% endif %}

                        <div class='row'>
                            <div class='col-md-3'></div>
                            <div class='col-md-7'  id='komentar{{ i.nomor }}'></div>
                        </div>

                    {% endwith %}
                    {% endfor %}
                {% else %}
                    <div class="alert alert-danger text-center">
                        <strong>Opps!</strong> Tidak ada Forum
                    </div>
                {% endif %}
            </div>

        </div>
	</section>
	
<hr>
<section>
	<div class="tombol">
		<button class="button button2" id="login">Login Mahasiswa</button>		
		<span style="display:inline-block; width: 300px;"></span>
		<!-- sign in with linkedin button -->
		<script type="in/Login" id="login"></script>
	</div>

</section>

<div class="line-separator"></div>
<!-- display profile info -->
<div id="profileData" style="display: none;">
    <p><a href="javascript:void(0);" class="button" onclick="logout()">Logout</a></p>
    <div id="picture"></div>
    <div class="info">
        <p id="name"></p>
        <p id="intro"></p>
        <p id="email"></p>
        <p id="location"></p>
		<p id="link"></p>
		<p>Work(s) at </p>
		<p id="companyLists" onclick="displayProfileCompany();"></p>
    </div>
</div>

{% endblock %}

{% block javascript %}
<script>
    var tambahKomentar = function (angka) {
        var html =
        '<form>' +
        'Tulis Nama'+
        '<input class="form-control" id="tulisNama">' +
            '<div class="form-group">' +

            '<br>Tulis Komentar'+
              '<textarea class="form-control" rows="5" id="tulisKomentar"></textarea>' +
            '</div>' +

            '<div class="pull-right">' +
                '<a href="" class="btn btn-info" onclick=\"postKomentar(' + angka + ')\">Kirim</a>' +
            '</div>' +

        '</form>' ;

        $('#komentar' + angka).append(html);

        $('#tombolBalas' + angka).hide();
        $('#tombolBatal' + angka).show();

    };

    var batalKomentar = function (angka) {
        $('#komentar' + angka).html("");
        $('#tombolBalas' + angka).show();
        $('#tombolBatal' + angka).hide();
    }

    var postKomentar = function (angka) {
        // alert($('#' + angka).text());
            // alert(angka);
        $.ajax({
            async : false,
            method : 'POST',
            url : '{% url "fitur1B:add_comment" %}',
            data : {
            	'nama' : $('#tulisNama').val(),
                'isi' : $('#tulisKomentar').val(),
                'nomor' : angka
            },
        })
    }
</script>

{% endblock %}
