<div class="container-fluid">
    <h4>&copy; Made by AsikBanget Company Group 2 PPW B</h4>
</div>
<link href='https://fonts.googleapis.com/css?family=Kaushan Script' rel='stylesheet'>
<style>
    h4{
		position : bottom;
        text-align: center;
        color: black;
        font-family: 'Poppins';font-size: 13px;
    }
</style>
