<nav class="navbar navbar-light" style="background: linear-gradient(to right, teal , pink)
">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href=""><b>ABCom</b></a>
        
      </div>
      <div id="navbar" class="navbar-collapse collapse">

      </div><!--/.nav-collapse -->
    </div>
  </nav>

<link href='https://fonts.googleapis.com/css?family=Kaushan Script' rel='stylesheet'>
<style>
  .navbar-brand {
    font-family: 'Kaushan Script';font-size: 30px;
    color: #fff;
    outline: none;

  }

</style>