{% extends "forum/layout/base.html" %}

{% block content %}
<h1 class="main-title">Forum Media Network</h1>
<hr/>
<section name="forum" id="forum">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-lg-8">
                <h2>Lowongan</h2>
                <hr/>
                <div class="list-group">
                    {% if todo %}
                    {% for data in todo %}
                        <div class="flex-item">
                            <div class="to-do-list">
                                <div class="to-do-list-title">
                                    <img class="img-circle" <img src=http://cliparting.com/wp-content/uploads/2016/11/Small-office-building-clipart-kid.jpg width="50" height="50">
                                    <h4>Media Network</h4>
                                </div>
                                <div class="to-do-list-date-added">
                                    Publish at {{data.created_date}}
                                </div>
                                <div class="to-do-list-description">
                                    {{data.description}}
                                </div>
                            </div>
                        </div>
                        <br>
                    {% endfor %}
                {% else %}
                <div class="alert alert-danger text-center">
                    <strong>Oops!</strong> Tidak ada forum.
                </div>
                {% endif %}
                {% if todo.has_other_pages %}
                    <div class="pagination">
                        {% if todo.has_previous %}
                            <li><a href="{% url 'forum:index' %}">&laquo;</a></li>
                            <li><a href="?page={{ todo.previous_page_number }}">&lsaquo;</a></li>
                        {% else %}
                            <li class="disabled"><span>&lsaquo;</span></li>
                        {% endif %}
                        {% for page in page_range %}
                            {% if todo.number == page %}
                                <li class="active"><span>{{ page }} <span class="sr-only">(current)</span></span></li>
                            {% else %}
                                <li><a href="?page={{ page }}">{{ page }}</a></li>
                            {% endif %}
                        {% endfor %}
                        {% if todo.has_next %}
                            <li><a href="?page={{ todo.next_page_number }}">&rsaquo;</a></li>
                            <li><a href="?page={{ todo.paginator.num_pages }}">&raquo;</a></li>
                        {% else %}
                            <li class="disabled"><span>&rsaquo;</span></li>
                        {% endif %}
                    </div>
                {% endif %}     
                </div>
            </div>
            <div class="col-lg-4" name="input-list" id="input-list">
                <h2> Post </h2>
                <hr/>
                <form id="form" method="POST" action="{% url 'forum:add_forum' %}">
                    {% csrf_token %}
                    {{ todo_form }}
                    <input id="submit" type="submit" class="btn btn-lg btn-block btn-info" value="Submit">
                    <br>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}